---
import Layout from '@layouts/Layout.astro';
import { Card, HeroCarousel } from '@components/ui';
import { ArrowRight } from 'lucide-react';

const slides = [
  {
    id: 1,
    title: 'Programa Inglés en el Mundo',
    description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit sed.',
    image: '/assets/images/Banner_1.webp',
    url: '/programas/ingles-mundo'
  },
  {
    id: 2,
    title: 'Programa Francés',
    description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit sed.',
    image: '/assets/images/Banner_2.webp',
    url: '/programas/frances'
  },
  {
    id: 3,
    title: 'Cursos de Capacitación Docente',
    description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit sed.',
    image: '/assets/images/Banner_3.webp',
    url: '/programas/capacitacion-docente'
  },
  {
    id: 4,
    title: 'Cursos de Fundamentos de la Enseñanza del Inglés en Colombia',
    description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit sed.',
    image: '/assets/images/Banner_4.webp',
    url: '/programas/fundamentos'
  }
];

const programas = [
  {
    id: 1,
    title: 'Programa Inglés en el Mundo',
    description:
      'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.',
    link: '/programas/ingles-mundo'
  },
  {
    id: 2,
    title: 'Programa Francés',
    description:
      'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.',
    link: '/programas/frances'
  },
  {
    id: 3,
    title: 'Cursos capacitación docente',
    description:
      'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.',
    link: '/programas/capacitacion-docente'
  },
  {
    id: 4,
    title: 'Cursos de Fundamentos de la Enseñanza del Inglés en Colombia',
    description:
      'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.',
    link: '/programas/fundamentos'
  }
];

const eventos = [
  {
    dia: '02',
    mes: 'febrero',
    titulo: 'Programa Inglés en el Mundo'
  },
  {
    dia: '02',
    mes: 'febrero',
    titulo: 'Programa Francés'
  },
  {
    dia: '02',
    mes: 'febrero',
    titulo: 'Cursos Capacitación docente'
  },
  {
    dia: '02',
    mes: 'febrero',
    titulo: 'Cursos de Fundamentos de la Enseñanza del Inglés en Colombia'
  }
];
---

<Layout>
  <HeroCarousel slides={slides} client:idle />
  <section id="oferta" class="py-16">
    <div class="u-wrapper mx-auto px-4">
      <h2 class="text-3xl text-center md:text-4xl font-bold text-secondary-900">Oferta Académica</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mt-12">
        {
          programas.map((programa) => (
            <Card title={programa.title} description={programa.description} url={programa.link} label="Conoce más" />
          ))
        }
      </div>
    </div>
  </section>
  <section id="calendario" class="py-16 bg-primary-100/15">
    <div class="u-wrapper mx-auto px-4">
      <h2 class="text-3xl md:text-4xl font-bold text-secondary-900 text-center mb-4">Calendario académico</h2>
      <p class="text-center mb-12 max-w-3xl mx-auto">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed diam euismod tincidunt ut laoreet.
      </p>

      <div class="calendar grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 bg-background rounded-xl">
        {
          eventos.map((evento) => (
            <div class="p-6 text-center calendar__event">
              <div class="text-5xl md:text-6xl font-bold text-secondary-900 mb-2">{evento.dia}</div>
              <div class="text-secondary-500 text-sm uppercase tracking-wide mb-6">{evento.mes}</div>
              <div class="text-secondary-700 font-medium text-sm leading-snug">{evento.titulo}</div>
            </div>
          ))
        }
      </div>
    </div>
  </section>
</Layout>

<style>
  .calendar__event {
    position: relative;
  }
  .calendar__event:not(:nth-child(1))::after {
    --size: 100%;
    --padding: 20%;
    --position: 50%;

    content: '';
    position: absolute;
    top: var(--position);
    left: var(--position);
    width: calc(var(--size) - var(--padding));
    height: var(--size);
    border-top: 1px solid var(--color-secondary-200);
    transform: translate(calc(var(--position) * -1), calc(var(--position) * -1));
  }

  @media (width >= 48rem) {
    .calendar__event:not(:nth-child(1))::after {
      width: var(--size);
      height: calc(var(--size) - var(--padding));
      border-top: none;
      border-left: 1px solid var(--color-secondary-200);
    }
  }
</style>
